# --- Unity Folders to Ignore ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[UserSettings]/

# --- Assets to Ignore ---
# Ignore asset store packages to keep repo size down 
# /[Aa]ssets/AssetStoreTools*

# --- IDE & OS Files ---
.vs/
.vscode/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.VC.db

# --- OS Generated ---
.DS_Store
Thumbs.db
desktop.ini

# --- Crash Reports ---
sysinfo.txt

# --- Builds ---
*.apk
*.unitypackage
*.exe